body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


/* .grid {
  display: grid;
  gap: 1rem;
  border: 1px solid gray;
  width: fit-content;
}

.grid-cell {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.bg-gray-200 {
  background-color: #e2e8f0;
}

.bg-red-500 {
  background-color: #f56565;
}

.bg-green-500 {
  background-color: #48bb78;
}

.bg-blue-500 {
  background-color: #4299e1;
}

.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-cols-4 {
  grid-template-columns: repeat(4, 1fr);
} */

